/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header and Logo */
.header {
    display: flex;
    align-items: center;
    padding: 10px;
}
.logo {
    width: 50px;
    height: 60px;
    margin-left: 10px;
}

/* Countdown Timer */
p {
    text-align: right;
    font-size: 20px;
    margin-top: 0px;
    padding: 10px;
}

.rectangle1 {
    width: 1000px;
    height: 500px;
    background: rgb(255, 255, 255);
    margin: 50px auto;
    border: 5px solid black;
    position: relative; /* Required for absolute positioning inside */
}

  /* https://www2.cs.sfu.ca/CourseCentral/165/common/study-guide/content/css2-positioning.html#:~:text=The%20position%20Property&text=Setting%20position%3A%20absolute%20on%20an,the%20top%20of%20the%20page.&text=That%20will%20display%20like%20this.*/
  .rectangle2 {
    width: 200px;
    height: 100px;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    position: absolute;
    top: 0px; /* Places at the very top */
    left: 0px; /* Places at the very left */
}