
h1{
    font-family: Futura;
    font-size: 60px;
}
/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header and Logo 
.header {
    display: flex;
    align-items: center;
    padding: 10px;
}
.logo {
    width: 50px;
    height: 60px;
    margin-left: 10px;
}
*/
.header {
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
  }
  
  .header img {
    width: 50px;
    height: auto;
    margin-bottom: 10px; 
  }

  .scarlettImage {
    position: absolute;
    top: 20px; 
    right: 20px;
}

.scarlettImage img {
    width: 130px; 
    height: auto;
}
  

/* Countdown Timer */
p {
    text-align: left;
    font-size: 30px;
    margin-top: 10px;
    padding-left: 10px;
    font-family: Futura;
}


.board {
    width: 800px;
    height: 1000px;
    background: rgb(255, 255, 255);
    margin: 50px auto;
    border: 5px solid black;
    position: relative; 
}

  /* https://www2.cs.sfu.ca/CourseCentral/165/common/study-guide/content/css2-positioning.html#:~:text=The%20position%20Property&text=Setting%20position%3A%20absolute%20on%20an,the%20top%20of%20the%20page.&text=That%20will%20display%20like%20this.*/
  .ballroom {
    width: 250px;
    height: 150px;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    position: absolute;
    top: 0px; 
    left: 0px; 
}

.lounge {
    width: 250px;
    height: 150px;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    position: absolute;
    top: 0px; 
    right: 0px;
}

.hall {
    width: 80px;
    height: 150px;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    position: absolute;
    top: 0px; 
    right: 360px;
}

.ballroomImage {
    position: absolute;
}

.ballroomImage img {
    width: 200px;
    height: auto;
    position: absolute;
    top: 0px; 
    left: 0px; 
}

.loungeImage {
    position: absolute;
    top: 0px; 
    right: 0px; 
}

.loungeImage img {
  width: 200px;
  height: auto;
  display: block;
}

.hallImage {
    position: absolute;
    top: 0px; 
    right: 330px; 
}

.hallImage img {
  width: 170px;
  height: auto;
  display: block;
}

.billiardImage {
    position: absolute;
    top: 400px; 
    left: 0px; 
}

.billiardImage img {
  width: 190px;
  height: auto;
  display: block;
}

.conservatoryImage {
    position: absolute;
    bottom: 0px; 
    left: 0px; 
}

.conservatoryImage img {
  width: 260px;
  height: auto;
  display: block;
}

.libraryImage {
    position: absolute;
    bottom: 0px; 
    right: 330px; 
}

.libraryImage img {
  width: 140px;
  height: auto;
  display: block;
}

.kitchenImage {
    position: absolute;
    bottom: 0px; 
    right: 0px; 
}

.kitchenImage img {
  width: 160px;
  height: auto;
  display: block;
}

.studyImage {
    position: absolute;
    top: 580px; 
    right: 0px; 
}

.studyImage img {
  width: 180px;
  height: auto;
  display: block;
}

.diningImage {
    position: absolute;
    top: 300px; 
    right: 0px; 
}

.diningImage img {
  width: 180px;
  height: auto;
  display: block;
}

.startingSectionImage {
    position: absolute;
    top: 400px; 
    left: 320px; 
}

.startingSectionImage img {
  width: 120px;
  height: auto;
  display: block;
}

.spaces {
    width: 20px;
    height: 20px;
    background: rgb(255, 255, 255);
    border: 5px solid black;
    position: relative;
    top: 0px;
    left: 200px;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }